<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Administration Console</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">User Management</a>
            </li>
            <li>
                <a href="#">Busines Registration Requests</a>
            </li>
            <li>
                <a href="#">Registered Businesses</a>
            </li>
            <li>
                <a href="#">My Profile</a>
            </li>
            <li>
                <a href="#">Back to Home Page</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </nav>
</div>
