@model string[]

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Locate_closest_business</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="top-modal">
            <h2>To get more information on South Africa and Covid-19, <a href="https://sacoronavirus.co.za/"><i>click here</i></a></h2>
            <h2>We are currently on <b>STAGE 4</b> of lockdown</h2>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="modal fade" tabindex="-1" id="searchModal" data-keyboard="false" data-backdrop="static">  
            <div class="modal-dialog modal-lg">  
                <div class="modal-content">  
                    <button type="button" class="close" data-dismiss="modal">×</button>  
                    <h4 class="modal-title">Search for essential service businesses near you</h4>  
                    <form>  
                        <div class="form-group">  
                            <select class="form-control" id="essentialServiceOptions">
                                @foreach (var service in Model)
                                {
                                    <option>@service</option>
                                }
                            </select>
                        </div> 
                    </form>  
                    <button type="submit" class="searchButton">SEARCH</button>   
                    <br/><br/><br/>
                </div>  
            </div>  
        </div>
    </div>
    <footer class="footer">
        <div>
            <img src="~/images/search.svg" id="openSearchModal" data-toggle="modal" data-target="#searchModal"/>
            @* <a href="#", data-toggle="modal" data-target="#searchModal">Open Modal</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
