@model Locate_closest_business.Models.UserModel;

<div class="modal fade" tabindex="-1" id="login-admin" data-keyboard="false" data-backdrop="static">  
    <div class="modal-dialog modal-lg">  
        <div class="modal-content"> 
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">LOGIN</h4>  
            <br/>
            <h2>Please log into your account to register your business</h2>
            <br/>
            @using (Html.BeginForm()){
                <form id="loginForm" action="/Home/Login" method="Post">  
                    <div class="form-group">  
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder="Email" } })          
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder="Password", @type="password" } }) 
                    </div> 
                    <input type="submit" class="login-button" value="LOGIN" />
                </form> 
            }
            <br/><br/>  
            <h2>Don't have an account? <a class="signup-link"><b>SIGN UP</b></a></h2>
            <br/><br/>
        </div>
    </div>
</div> 