@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="top-modal">
        <h2>To get more information on South Africa and Covid-19, <a href="https://sacoronavirus.co.za/"><i>click here</i></a></h2>
        <h2>We are currently on <b>STAGE 4</b> of lockdown</h2>
    </div>
</header>
<div id="searchModal">  
    <div class="modal-content"> 
        <h4 class="modal-title">Search for essential service businesses near you</h4>  
        <form id="searchForm" action="/Home/Search" method="Post">  
            <div class="form-group">  
                <select name="searchOption" class="form-control" id="essentialServiceOptions">
                    <option value="{'1':'airport', '2':'taxi_stand', '3':'train_station'}">Airport, Taxi Station, Train Station</option>
                    <option value="{'1':'atm', '2':'bank'}">ATM, Bank</option>
                    <option value="{'1':'dentist', '2':'doctor', '3':'hospital', '4':'physiotherapist'}">Doctor, Dentis, Hospital, Physiotherapist</option>
                    <option value="{'1':'fire_station', '2':'police'}">Emegency Services</option>
                    <option value="{'1':'bakery', '2':'cafe', '3':'meal_delivery', '4':'meal_takeaway', '5':'restaurant', '6':'supermarket'}">Food Services</option>
                    <option value="{'1':'drugstore', '2':'pharmacy'}">Pharmacy</option>
                    <option value="{'1':'gas_station'}">Gas Station</option>
                    <option value="{'1':'veterinary_care'}">Veterinary Care</option>
                    <option value="{'1':'clothing_store, '2':'convenience_store', '3': 'department_store', '4':'shopping_mall', '5':'supermarket'}">Wholesale, Retail trade</option>
                </select><span><input class="searchIcon" type="image" src="~/images/search.svg" border="0" alt="Submit" /></span>
            </div> 
        </form>   
        <br/>
    </div>  
</div>
<footer class="footer">
    <div id="stages">
        <table>
            <tr id="stage5">
                <td><b>STAGE 5</b><br/>Drastic measures are required to contain the spread of the virus to save lives</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage4">
                <td><b>STAGE 4</b><br/>Extreme precautions required to limit community transmission and outbreaks, while allowing some activity to resume</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage3">
                <td><b>STAGE 3</b><br/>Easing of some restrictions, including on work and social activities, to address a high risk of transmission</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage2">
                <td><b>STAGE 2</b><br/>Physical distancing and restrictions on some leisure and social activities to prevent a resurgence of the virus</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage1">
                <td><b>STAGE 1</b><br/>Most normal activity can resume, with precautions and health guidelines followed at all times</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="loginButton">Login</button><button id="openRegisterBusinessModal" class="registerBusinessButton" >Register Your Business</button><button id="stagesButton" class="stagesButton" >Stages</button>
    </div>
</footer>

@Html.Partial("~/Views/Home/RegisterBusiness.cshtml", new Locate_closest_business.Models.BusinessManagementModel())
@Html.Partial("~/Views/Login/Login.cshtml", new Locate_closest_business.Models.UserModel())
@Html.Partial("~/Views/Login/Signup.cshtml", new Locate_closest_business.Models.UserModel())