.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 350px;
    min-height: 100vh;
    background: rgb(73, 73, 73);
    color: #fff;
    position: absolute;
    left: 0;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    text-align: center;
    margin-top: 10%;
}

#sidebar h3{
    font-size: 1.6rem;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(46, 46, 46);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.adminContainer, .newBusinessContainer, .profileContainer{
    width: 100%;
    position: relative;
    left: 12%;
}

.businessContainer{
    width: 100%;
    position: relative;
}

.addAdmin, .adminUsers, .addBusiness, .businesses, .profileDetails{
    border: 1px solid grey;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
}

.addAdmin, .addBusiness, .profileDetails{
    margin-top: 5%;
}

.adminUsers, .businesses{
    margin-top: 6%;
}

.adminContainer .form-control,
.addBusiness .form-control,
.profileContainer .form-control{
    width: 40% !important;
    display: inline;
    margin-top: 1%;
    margin-left: 2%;
}

#newBusinessContainer textarea{
    width: 82.5% !important;
}

.addAdminButton, .updateProfile{
    width: 14%;
}

.registerNewBusinessButton{
    width: 18%;
}

.adminContainer h2, .newBusinessContainer h2, .businessContainer h2, .profileContainer h2{
    font-size: 1.8rem;
}

.adminTable img{
    width: 46px;
}

.table{
    width: 95% !important;
    margin: auto !important;
}

.adminUsers{
    overflow-y: scroll;
    height: 400px !important;
}

.businesses{
    overflow-y: scroll;
    height: 850px !important;
    width: 1450px !important;
}

.confirmButton, .denyButton, .removeAdminButton{
    border: none;
    border-radius: 0.25rem;
    color: white;
    padding: 6px;
    box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
}

.confirmButton{
    background-color: rgb(2, 177, 75);
}

.removeAdminButton{
    background-color: rgb(182, 0, 0);
    width: 180px;
}

.denyButton{
    background-color: rgb(182, 0, 0);
    width: 70px;
}

.businesses form{
    width: 40%;
}