#loginModal .modal-content {
    width: 700px !important;
    margin: 20% auto !important;
    text-align: center;
}

#loginModal .form-control{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

#loginModal .modal-title{
    font-size: 2rem;
}

.loginButton{
    width: 15%;
}