#registerBusinessModal .modal-content {
    width: 900px !important;
    margin: 4% auto !important;
    text-align: center;
}

#registerBusinessModal .form-control{
    width: 36%;
    display: inline;
    margin-left: 2.5%;
}

#registerBusinessModal textarea{
    width: 75% !important;
    margin-left: 22px;
}

#registerBusinessModal h3{
    margin-top: 4%;
    padding: 20px;
}

#step2, #step3{
    display: none;
}

.nextButton{
    width: 15%;
    margin-left: 2%;
}
  
.viewBusinessesButton{
    width: 35%;
}