#signupModal .modal-content {
    width: 800px !important;
    margin: 20% auto !important;
    text-align: center;
}

#signupModal .form-control{
    width: 40%;
    display: inline;
    margin-top: 1%;
    margin-left: 2%;
}

#signupModal .modal-title{
    font-size: 2rem;
}

.signupButton{
    width: 22%;
}