.top-modal {
  background-color: rgb(182, 0, 0);
  width: 95%;
  color: white;
  padding-top: 15px;
  padding-bottom: 16px;
  justify-content: center;
  box-shadow: rgb(99, 99, 99) 10px 13px 22px -8px;
  margin: 1% auto 0px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  left: 2.5%;
}

h2, h3, a {
  font-size: 1.1rem;
  font-weight: normal;
}

h4{
  font-size: 1.2rem;
  font-weight: normal;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30%;
}

.close{
  width: 10%;
  margin-left:90%;
  margin-top: 2%;
}

#searchModal{
  margin-top: 2%;
  margin-left: 2.6%;
  position: absolute;
  left: 0;
}

#searchModal .modal-content {
  width: 480px !important;
  text-align: center;
  box-shadow: rgb(99, 99, 99) 10px 13px 22px -8px;
  margin-top: 20%;
}

.modal-title{
  margin-top: 2%;
}

img{
  width: 7%;
  margin-left: 2%;
  padding-bottom: 1%;
}

#searchModal .form-control{
  width: 75%;
  display: inline;
  margin-top: 6%;
}

#loginButton, .registerBusinessButton, .stagesButton{
  margin-left: 3%;
  border-radius: 6px;
  background-color: white;
  padding: 15px 30px 15px 30px;
  margin-bottom: 3%;
  box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
}

.registerBusinessButton:hover, .stagesButton:hover, #loginButton:hover{
  font-size: 1.1rem;
}

.nextButton, .submitRequestButton, .viewBusinessesButton, .loginButton, .signupButton{
  background-color: rgb(182, 0, 0);
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 6px;
  box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
  margin-top: 2%;
}

.submitRequestButton{
  margin-left: 41%;
  width: 20%;
}

.nextButton:hover, .submitRequestButton:hover, .viewBusinessesButton:hover, .loginButton:hover, .signupButton:hover{
  font-size: 1.12rem;
}

.form-control:focus{
  border-color: rgba(182, 0, 0);
  box-shadow: 0 0 0 0.2rem rgba(182, 0, 0, 0.5);
}

#stages{
  display: none;
  width: 100%;
  border: grey;
  box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
  margin-left: 3%;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 2%;
  padding: 20px;
}

tr{
  border-radius: 6px;
}

td{
  padding: 8px;
  border-radius: 6px;
}

#stage5{
  background-color: #f8ccc8;
}

#stage4{
  background-color: #FFD7A1;
}

#stage3{
  background-color: #fceec9;
}

#stage2{
  background-color: #c7ebf1;
}

#stage1{
  background-color: #bff0de;
}

.searchIcon{
  width: 8%;
  margin-left: 3%;
}