.top-modal {
  background-color: rgb(182, 0, 0);
  width: 95%;
  color: white;
  padding-top: 15px;
  padding-bottom: 16px;
  justify-content: center;
  box-shadow: rgb(99, 99, 99) 10px 13px 22px -8px;
  margin: 1% auto 0px;
  border-radius: 8px;
  text-align: center;
}

h2, h3, a {
  font-size: 1.1rem;
  font-weight: normal;
}

h4{
  font-size: 1.2rem;
  font-weight: normal;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.close{
  width: 10%;
  margin-left:90%;
  margin-top: 2%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#searchModal{
  margin-top: 2%;
  margin-left: 2.6%;
}

#searchModal .modal-content {
  width: 480px !important;
  text-align: center;
  box-shadow: rgb(99, 99, 99) 10px 13px 22px -8px;
}

#registerBusinessModal .modal-content {
  width: 900px !important;
  margin: 8% auto !important;
  text-align: center;
}

.modal-title{
  margin-top: 2%;
}

img{
  width: 7%;
  margin-left: 2%;
  padding-bottom: 1%;
}

#searchModal .form-control{
  width: 75%;
  display: inline;
  margin-top: 6%;
}

#registerBusinessModal .form-control{
  width: 36%;
  display: inline;
  margin-left: 2.5%;
}

#registerBusinessModal textarea{
  width: 75% !important;
  margin-left: 22px;
}

.registerBusinessButton{
  margin-left: 3%;
  border-radius: 6px;
  background-color: white;
  padding: 15px 30px 15px 30px;
  margin-bottom: 3%;
  box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
}

.registerBusinessButton:hover{
  font-size: 1.1rem;
}

#registerBusinessModal h3{
  margin-top: 4%;
  padding: 20px;
}

.nextButton, .submitRequestButton{
  background-color: rgb(182, 0, 0);
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 6px;
  width: 20%;
  box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
  margin-top: 2%;
  margin-left: 41%;
}

.nextButton:hover, .submitRequestButton:hover{
  font-size: 1.14rem;
}

#step2, #step3{
  display: none;
}

.form-control:focus
{
  border-color: rgba(182, 0, 0);
  box-shadow: 0 0 0 0.2rem rgba(182, 0, 0, 0.5);
}