.top-modal {
  background-color: rgb(182, 0, 0);
  width: 95%;
  color: white;
  display: flex;
  padding-top: 15px;
  padding-bottom: 16px;
  justify-content: center;
  box-shadow: rgb(99, 99, 99) 10px 13px 22px -8px;
  margin: 1% auto 0px;
  border-radius: 8px;
}

h2, a {
  font-size: 1.1rem;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#openSearchModal{
  width: 4%;
  margin-left: 3%;
  margin-bottom: 3%;
}