#statistics{
    display: none;
    width: 25%;
    border: grey;
    box-shadow: rgb(99, 99, 99) 5px 8px 12px -8px;
    margin-left: 73%;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 2%;
    padding: 20px;
}

td{
    padding-left: 10%;
}

.global-table h4{
    margin-left: 35%;
}

.sa-table h4{
    margin-left: 30%;
}

.global-table{
    background-color: #f8ccc8;
    border-radius: 6px;
}

.sa-table{
    background-color: #bff0de;
    border-radius: 6px;
}